################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/paperclone.VC.VC.opendb
